<a href="https://colab.research.google.com/github/Godhawari-khatri/Data-science-lab-task/blob/main/20sw051_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Task no-1
prize = int(input())

if prize >= 1 and prize <= 50:
    print('Congratulations!!!! you won the Wooden rabbit')
elif prize > 50 and prize <= 150:
    print('sorry!! No prize')
elif prize > 150 and prize <= 180:
    print('Congratulations!!!! you won the Wafer-thin mint')
elif prize > 180 and prize <= 200:
    print('Congratulations!!!! you won the Penguin')
else:
    print('Ooh dear!!! No prize this time')

5
Congratulations!!!! you won the Wooden rabbit

In [2]:
# Task no-2
# Guess My Number
answer = 42

# Take user input for their guess
guess = int(input("Enter your guess: "))

# Compare the guess with the answer
if guess < answer:
    print("Your guess is too low.")
elif guess > answer:
    print("Your guess is too high.")
else:
    print("Congratulations! Your guess is correct!")

Enter your guess: 42
Congratulations! Your guess is correct!

In [4]:
# Task no-3
# Tax Purchase
def calculate_tax(purchase_amount, state):
    # Define tax rates for different states
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        print(f"Purchase amount: ${purchase_amount:.2f}")
        print(f"Tax rate in {state}: {tax_rate * 100:.1f}%")
        print(f"Tax amount: ${tax_amount:.2f}")
        print(f"Total amount after tax: ${total_amount:.2f}")
    else:
        print("Invalid state. Please enter a valid state code (CA, MN, or NY).")

# Take user input for purchase amount and state
purchase_amount = float(input("Enter the purchase amount: $"))
state = input("Enter your state (CA, MN, or NY): ")

# Call the function to calculate tax
calculate_tax(purchase_amount, state)

Enter the purchase amount: $43
Enter your state (CA, MN, or NY): CA
Purchase amount: $43.00
Tax rate in CA: 7.5%
Tax amount: $3.23
Total amount after tax: $46.23

In [6]:
# Task no-4
my_list = ["ram","santosh","laxshman","bheemraj","arjun"]

for element in my_list:
    print(element)

ram
santosh
laxshman
bheemraj
arjun

In [7]:
# Task no-5
# Multiples of 5
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

In [9]:
# Task no-6
# Extract First Names
# Sample list of full names
names = ["Godhawari khatri", "Ayesha ali", "Hira khuwaja", "Ambar arain"]

# List comprehension to extract first names in lowercase
first_names = [name.split()[0].lower() for name in names]

# Printing the result
print(first_names)

['godhawari', 'ayesha', 'hira', 'ambar']

In [12]:
# Task no-7
# Multiples of Three
multiples_3 = [3 * i for i in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [13]:
# Task no-8
# Filter Names by Scores
scores = {"Rick Sanchez": 70, "Morty Smith": 35, "Summer Smith": 82, "Jerry Smith": 23, "Beth Smith": 98}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [15]:
# Task no-9
# Zip Lists to a Dictionary
names = ["Anjli", "dheeraj", "Charan", "Dhiren", "Anand"]
heights = [165, 180, 175, 170, 160]

# Using zip to create the dictionary
cast = dict(zip(names, heights))

print(cast)

{'Anjli': 165, 'dheeraj': 180, 'Charan': 175, 'Dhiren': 170, 'Anand': 160}

In [16]:
# Task no-10
cast = {'Alina ': 165, 'Bhagwanti ': 180, 'Chandni ': 175, 'Dhani ': 170, 'kuasar ': 160}

# Using enumerate and list comprehension to modify the cast list
modified_cast = [name + str(height) for name, height in cast.items()]

print(modified_cast)

['Alina 165', 'Bhagwanti 180', 'Chandni 175', 'Dhani 170', 'kuasar 160']